.header {
    position: sticky;
    top: 0px;
    background-color: #ffffffee;
    backdrop-filter: blur(3px);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 0 16px;
}

.nav {
    position: sticky;
    bottom: 0;
    background-color: #ffffffee;
    backdrop-filter: blur(3px);   
    border-top: 1px solid #eee;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;
    min-height: 50px;
}

.section {
    flex: 1;
}
.navAnchor:hover {
    background-color: rgba(0, 153, 255, 0.15);
    border-radius: 1000px;
    stroke: red;
}

.navAnchor:hover > svg {
    stroke: var(--secondary-color);
}
.navAnchor {
    transition:all linear 0.1s;
    padding: 5px;
}
