.avatar {
    border-radius: 100px;
}

.twittMessage {
    margin-top: 5px;
    line-height: 20px;

}
.date {
    color: #555;
    font-size: 14px;
}
.twittContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

.imageContainer {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;

}
.image {
    width: 100%;
    max-height: 100%;
    object-fit:contain;
    border-radius: 10px;;
}
